<!DOCTYPE html>
<html th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Listado de Vehiculos</title>
</head>

<body>

<div class="row">
    <div class="col text-left">
        <h2>Listado de Vehículos de <p th:text="${conductor.nombre}"></p></h2>
    </div>
    <div class="col text-right">
        <a class="btn" style="background-color: #5b9bd5; color: white" th:href="@{/vehiculos/nuevo/__${conductor.dni}__}">Nuevo vehiculo</a>
    </div>
</div>

<hr/>

<table id="vehiculos" class="table table-striped">
    <thead style="background-color: #5b9bd5; color: white">
    <tr>
        <th>Matrícula</th>
        <th>Año matriculación</th>
        <th>Tipo</th>
        <th>Operaciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehiculo : ${vehiculos}">
        <td th:text="${vehiculo.matricula}" />
        <td th:text="${vehiculo.anho_matriculacion}" />
        <td th:text="${vehiculo.tipo}" />
        <td>
            <a class="btn btn-danger" th:href="@{/vehiculos/__${conductor.dni}__/eliminar/__${vehiculo.matricula}__}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a>
        </td>
    </tr>
    </tbody>

</table>

<br/>

<div class="row">
    <div class="col text-left">
        <a class="btn btn-light" th:href="@{/conductores}">Atrás</a>
    </div>
</div>

</body>

</html>