<!DOCTYPE html>
<html th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuevo Conductor</title>
</head>

<body>

    <div class="row">
        <div class="col text-left">
            <h2>Nuevo Conductor</h2>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col text-center">
            <form th:action="@{/conductores}" th:object="${conductor}" method="post" id="conductor-form">

                <div class="row">
                    <div class="col text-left">
                        <label class="control-label">DNI</label>
                    </div>
                    <div class="col text-left">
                        <input required class="form-control" th:style="${#fields.hasErrors('dni')} ? 'border-color: red'" th:field="*{dni}" size="10" maxlength="9" />
                        <p th:if="${#fields.hasErrors('dni')}" style="color: red" th:text="${#fields.errors('dni')}"></p>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col text-left">
                        <label class="control-label">Nombre</label>
                    </div>
                    <div class="col text-left">
                        <input required class="form-control" th:style="${#fields.hasErrors('nombre')} ? 'border-color: red'" th:field="*{nombre}" type="text" min="14" max="100" maxlength="50" />
                        <p th:if="${#fields.hasErrors('nombre')}" style="color: red" th:text="${#fields.errors('nombre')}"></p>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col text-left">
                        <label class="control-label">Edad</label>
                    </div>
                    <div class="col text-left">
                        <input required class="form-control" th:style="${#fields.hasErrors('edad')} ? 'border-color: red'" th:field="*{edad}" type="number" size="3" maxlength="3" />
                        <p th:if="${#fields.hasErrors('edad')}" style="color: red" th:text="${#fields.errors('edad')}"></p>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col text-left">
                        <label class="control-label">Género</label>
                    </div>
                    <div class="col text-left">
                        <select class="form-control" th:field="*{genero}">
                            <option value="MASCULINO">Masculino</option>
                            <option value="FEMENINO">Femenino</option>
                            <option value="OTRO">Otro</option>
                        </select>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col text-right">
                        <button class="btn" style="background-color: #5b9bd5; color: white" type="submit" name="anadirConductor">Añadir Conductor</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col text-left">
            <a class="btn btn-light" th:href="@{../conductores}">Atrás</a>
        </div>
    </div>



</body>

</html>